.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #FBFBFB;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 218px;
    height: 84px;
    margin-bottom: 39px;
}

.card h2 {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.card p {
    font-family: "Roboto", sans-serif;
    color: #74798C;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

.cardContent {
    display: flex;
    margin-left: 16px;
    align-items: flex-start;
}

.icon {
    width: 60px;
    height: 60px;
    display: flex;
    font-size: larger;
    border-radius: 6px;
    margin-right: 24px;
    align-items: center;
    justify-content: center;
}
